<nav class="bg-gray-900 text-white p-4 fixed w-full top-0 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-xl font-bold" routerLink="/">Ajayy</a>
    <div>
      <a class="mx-2 hover:text-gray-400" routerLink="/">Home</a>
      <a class="mx-2 hover:text-gray-400" routerLink="/about">About</a>
      <a class="mx-2 hover:text-gray-400" routerLink="/projects">Projects</a>
      <a class="mx-2 hover:text-gray-400" routerLink="/contact">Contact</a>
    </div>
  </div>
</nav>
