<!-- Navbar -->
<header class="relative z-50">
  <app-navbar></app-navbar>
</header>

<!-- Main Content (Hero + Other Sections) -->
<main class="relative">
  <section
    id="home"
    class="flex items-center justify-center bg-gray-100 dark:bg-gray-900"
  >
    <app-home></app-home>
  </section>

  <section
    id="about"
    class="flex items-center justify-center bg-white dark:bg-gray-900"
  >
    <app-about></app-about>
  </section>

  <section
    id="experiences"
    class="flex items-center justify-center bg-white dark:bg-gray-900"
  >
    <app-experiences></app-experiences>
  </section>

  <section
    id="certifications"
    class="flex items-center justify-center bg-white dark:bg-gray-900"
  >
    <app-certifications></app-certifications>
  </section>

  <section
    id="beyond-work"
    class="flex items-center justify-center bg-white dark:bg-gray-900"
  >
    <app-beyond-work></app-beyond-work>
  </section>

  <section
    id="contact"
    class="flex items-center justify-center bg-white dark:bg-gray-900"
  >
    <app-contact></app-contact>
  </section>
</main>

<app-footer></app-footer>
