<section
  class="absolute top-0 w-full h-screen flex items-center justify-center bg-cover bg-center px-10 md:px-20 lg:px-32"
  style="background-image: url('/assets/hero-bg-4.png')"
>
  <!-- Gradient Overlay for Better Visibility -->
  <div
    class="absolute top-0 left-0 w-full h-full transition-all duration-1000 bg-gradient-to-r dark:from-black/60 dark:via-transparent dark:to-transparent from-white/10 via-transparent to-transparent opacity-0 animate-fadeIn"
  ></div>

  <!-- Name & Greeting in Top-Right Corner -->
  <div class="absolute top-20 right-10 text-right leading-relaxed z-10">
    <p
      class="text-3xl md:text-3xl font-extrabold tracking-widest transition-all duration-700 ease-in-out opacity-0 animate-fadeIn text-gray-900 dark:text-gray-300"
    >
      Hi, I'm
    </p>

    <h1
      class="text-3xl md:text-5xl font-bold tracking-wide mt-2 transition-all duration-700 ease-in-out opacity-0 animate-slideIn text-blue-600 dark:text-blue-400"
    >
      Arulmozhi Karunagaran
    </h1>

    <p
      class="text-md md:text-lg font-semibold pacity-0 animate-fadeIn mt-3 transition-all duration-700 text-gray-700 dark:text-gray-200"
    >
      A
      <span class="font-semibold text-blue-600 dark:text-blue-300"
        >passionate</span
      >
      Full-Stack Developer 🚀
    </p>

    <!-- Buttons Below Title with Smaller Size -->
    <div class="flex justify-end space-x-3 mt-5 opacity-0 animate-fadeIn">
      <a
        href="/assets/resume.pdf"
        target="_blank"
        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md text-md shadow-md transition-all duration-500 flex items-center"
      >
        📄 View Resume
      </a>
      <a
        href="#contact"
        class="bg-gray-700 hover:bg-gray-800 text-white py-2 px-4 rounded-md text-md shadow-md flex items-center transition-all duration-500"
      >
        📩 Contact Me
      </a>
    </div>
  </div>
</section>
