<section
  class="relative w-full flex items-center justify-center bg-left bg-no-repeat bg-contain px-6 sm:px-10 md:px-20 lg:px-32 md:bg-[url('assets/hero-bg-4.webp')] bg-none"
>
  <!-- Gradient Overlay -->
  <div
    class="absolute top-0 right-0 w-full md:w-2/3 h-full transition-all duration-1000 bg-gradient-to-l dark:from-black/15 dark:via-transparent dark:to-transparent from-white/10 via-transparent to-transparent opacity-0 animate-fadeIn"
  ></div>

  <!-- Text Content -->
  <div
    class="absolute top-16 sm:top-20 right-4 sm:right-10 text-left sm:text-right leading-relaxed z-10 max-w-[95%] sm:max-w-[85%] md:max-w-xl lg:max-w-2xl"
  >
    <p
      class="text-2xl sm:text-3xl font-extrabold tracking-widest transition-all duration-700 opacity-0 animate-fadeIn text-gray-900 dark:text-gray-300"
    >
      Hi, I'm
    </p>

    <h1
      class="text-3xl sm:text-4xl lg:text-5xl font-bold tracking-normal mt-2 transition-all duration-700 opacity-0 animate-slideIn text-blue-600 dark:text-blue-400"
    >
      Arulmozhi Karunagaran
    </h1>

    <p
      class="text-sm sm:text-base md:text-lg font-semibold mt-3 opacity-0 animate-fadeIn text-gray-700 dark:text-gray-200"
    >
      A
      <span class="font-semibold text-red-600 dark:text-red-600"
        >passionate</span
      >
      Full-Stack Developer 🚀
    </p>

    <!-- Buttons -->
    <div
      class="flex flex-col sm:flex-row justify-start sm:justify-end sm:space-x-3 space-y-3 sm:space-y-0 mt-5 opacity-0 animate-fadeIn"
    >
      <a
        (click)="showResumeUnavailablePopUp()"
        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md text-md shadow-md transition-all duration-500 flex items-center justify-center cursor-pointer"
      >
        📄 View Resume
      </a>
      <a
        href="#contact"
        class="bg-gray-700 hover:bg-gray-800 text-white py-2 px-4 rounded-md text-md shadow-md transition-all duration-500 flex items-center justify-center"
      >
        📩 Contact Me
      </a>
    </div>
  </div>
</section>
